html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.colors {
  background-color: #141414;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.color-select {
  width: 32px;
  height: 32px;
  margin: 8px;
  display: inline-block;
  border: 4px solid black;
}

.tools {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #141414;
  top: 0;
}

.tool {
  color: white;
  margin: 4px;
}

.tool-holder {
  margin: 8px;
  border: 2px solid black;
}

.th-selected {
  background-color: grey;
}


.cs-selected {
  border: 4px solid white;
}