html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.colors {
  background-color: #141414;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.pallet {
  position: absolute;
  background-color: #141414;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border: 2px solid white;
  text-align: center;
  display: flex;
  width: 70%;
}

.color-select {
  width: 32px;
  height: 32px;
  margin: 8px;
  display: inline-block;
  border: 4px solid black;
  cursor: pointer;
}

.custom-button {
  border: 2px solid white;
  padding: 16px 32px;
  background-color: transparent;
  color: white;
  margin: 16px;
  cursor: pointer;
}

.tools {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #141414;
  top: 0;
}

.tool {
  color: white;
  margin: 4px;
  cursor: pointer;
}

.close {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}

.tool-holder {
  margin: 8px;
  border: 2px solid black;
}

.th-selected {
  background-color: grey;
}


.cs-selected {
  border: 4px solid white;
}

.preview-canvas {
  position: absolute;
  width: 128px;
  height: 128px;
  image-rendering: pixelated;
}

@media (min-width: 1280px) {
  .pallet {
    width: 20vw;
  }
  .preview-canvas {
    width: 256px;
    height: 256px;
  }
}